/* styles go here */
.fieldset {
  margin-bottom: 20px;
}

.formElement:not(:last-child) {
  display: block;
  margin: 0 0 10px;
}
/* 
.registr-feld:not(:last-child) {
  display: block;
  margin: 0 0 10px;
}

.about-you:not(:last-child) {
  display: block;
  margin: 0 0 10px;
}

.add-info:not(:last-child) {
  display: block;
  margin: 0 0 10px;
} */
